*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

:root {
    --colour-1: #CDBBA7;
    --colour-2: #DAD0C2;
    --colour-3: #F4DFD0;
    --colour-4: #F0EEF1;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

body {
    background-color: var(--colour-4);
}

header {
    background-color: var(--colour-1);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 10;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
}

.add-book-btn {
    background-color: var(--colour-2);
    font-size: 1.2rem;
    padding: 10px 20px;
    border: 1px solid;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.library-log {
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, auto);
    max-width: 300px;
    margin-top: 20px;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.book {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    background-color: var(--colour-2);
    box-shadow: var(--box-shadow);
    gap: 1rem;
    border-radius: 10px;
    padding: 30px;
}

.book h3 {
    margin-top: 5px;
}
.book > p:last-of-type{
    margin-bottom: 10px;
}

.close-button {
    position: absolute;
    top: 0;
    right: 16px;
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book .close {
    font-size: 2rem;
    color: black;
}

.read-book {
    display: flex;
    align-items: center;
    gap: 10px;

    position: absolute;
    bottom: 10px;
    right: 16px;
}

.read-book label {
    font-size: 0.8rem;
}

.read-toggle {
    width: 20px;
    height: 20px;
}